@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Rubik:ital,wght@1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&family=Rubik:ital,wght@0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&family=Rubik:ital,wght@0,700;1,300&display=swap");

.overviewContainer {
  display: flex;
  min-width: 500px;
  margin-top: 70px;
}
.overview {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: #abb7c4;

  max-width: 500px;
}
.overviewSideInfoContainer {
  margin: 0px 0px 0px 50px;
  color: #ffffff;
  font-size: 16px;
}
h6 {
  font-family: "Dosis";
  font-weight: bold;
  font-size: 16px;
  color: #abb7c4;
  margin: 15px 0;
}
.genres {
  color: #ffffff;
  font-size: 16px;
  display: flex;
  flex-direction: row;
}
p {
  margin: 0 10px 0px 0;
}
.overviewSideInfo {
  margin-bottom: 30px;
}
.backdropImgContainer {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #405266;
  clear: both;
  padding-bottom: 15px;
  color: #ffffff;
}
.img {
  height: 75px;
  margin: 15px 15px 0 0;
}
.buttonBox {
  width: 100%;
  display: flex;
  margin: 20px 0 15px 0;
  justify-content: center;
}
.button {
  /* background-color: #f1c40f; */
  background-color: transparent;
  color: #fff;
  border: 3px solid#fff;
  height: 50px;
  width: 120px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-left: -55px;
}
.button:hover {
  background: #fff;
  transition: 300ms ease-in-out;
  color: #020d18;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
