@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
.navigationContainer {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-left: 150px;
}
.navBox {
  display: flex;
  flex-wrap: nowrap;
}
.Link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 18px;
  color: #ffffff;
  margin: 30px 10px 0 50px;
}
.active {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 18px;
  color: #ffffff;
  margin: 30px 10px 20px 50px;
  border-bottom: 3px solid white;
}
