@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
.navigationContainer {
  width: 100%;
  height: 80px;
  background-color: transparent;
  display: flex;
  justify-content: center;

  /* justify-content: space-between; */
}

.navBox {
  display: flex;
  flex-wrap: nowrap;
}
.Link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 32px;
  color: #ffffff;
  margin: 20px 10px 0 50px;
}
.active {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 32px;
  color: #dcf836;
  margin: 20px 10px 20px 50px;
  border-bottom: 5px solid #dcf836;
}
