.searchBar {
  height: 31px;
  width: 288px;
  margin: 24px 10px 0 50px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(217, 215, 215, 0.25);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-left: 15px;
}

.searchBar::placeholder {
  color: #837f7f;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
*:focus {
  outline: none;
}
