.searchBar {
  height: auto;
  width: 100%;
  margin: 0px;
  background: transparent;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 0 0 0 15px;
  border: none;
}

.searchBar::placeholder {
  color: #837f7f;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
*:focus {
  outline: none;
}
.searchBarContent {
  width: 100%;
  display: flex;
  justify-content: center;
}
.searchResultBox {
  max-height: 784px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 788px;
  background-color: #ffffff;
  margin-left: 50px;
  border-radius: 3px;
  margin-top: 1px;
  /* padding: 8px 0; */
}
.searchBarBox {
  height: 38px;
  width: 788px;
  background-color: #ffffff;
  margin: 24px 10px 0 50px;
  display: flex;
  border-radius: 4px;
  border-top: 1px solid rgba(227, 227, 227, 1);
  border-bottom: 1px solid rgba(227, 227, 227, 1);
}

.searchImgContainer {
  display: flex;
}
.searchInfoContainer {
  display: flex;
  color: black;
  padding: 8px;
  text-decoration: none;
}
.searchInfoBox {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 600;
}
.searchInfoContainer:hover {
  background: rgb(0 0 0 / 8%);
}
.searchImg {
  height: 71px;
  width: 48px;
}
.seachTitle {
  margin-left: 16px;
}
.releasedDate {
  margin-top: 5px;
  color: #909090;
  font-size: 14px;
}
