.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #020d18;
  min-height: 937px;
  overflow: hidden;
  background-image: url(http://blockter.bdiakcml8h-e92498n216kr.p.runcloud.link/wp-content/uploads/2017/12/slider-bg2.jpg?id=160);
}

.movieContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: auto;
  margin: -500px 100px 100px 100px;
}

.categoryTitle {
  font-size: 28px;
  text-transform: none;
}

.navigationContainer {
  width: 100%;
  height: 789px;
  background-color: #020d18;
  display: flex;
  justify-content: center;
  background-image: url(http://blockter.bdiakcml8h-e92498n216kr.p.runcloud.link/wp-content/uploads/2017/12/slider-bg2.jpg?id=160);
  /* justify-content: space-between; */
}
