.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fefae0;
}

.movieBox {
  margin: 15px;
}
.posterBox {
  height: 450px;
  width: 300px;
  position: relative;
}
.poster {
  height: 450px;
  width: 300px;
  box-shadow: 10px 10px 30px;
}
.overviewBox {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: auto;
  position: absolute;
  margin: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overviewBox::-webkit-scrollbar {
  display: none;
}
.posterBox:hover .overviewBox {
  visibility: visible;
  opacity: 1;
}
.title {
  text-align: center;
  margin: 50px 0 50px 0;
  font-size: large;
  font-weight: bolder;
}
.navigationContainer {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
