.castContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 75px;
}
.castBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  max-width: 640px;
}
.profileBox {
  width: 138px;
  margin: 0px 10px 10px 10px;
  border: 1px solid rgba(227, 227, 227, 1);
  padding-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
}
.overviewSideInfoContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 200px;
  margin: 0px 0px 0px 50px;
  color: #ffffff;
  font-size: 16px;
}
.overviewSideInfo {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 200px;
}
h6 {
  font-family: "Dosis";
  font-weight: bold;
  font-size: 16px;
  color: #abb7c4;
  margin: 15px 0;
}
.genres {
  color: #ffffff;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 200px;
  height: auto;
}
p {
  margin: 0 10px 0px 0;
}
.actorName {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 10px 0 10px;
}
.actorCharacter {
  width: 130px;
  padding: 0 10px;
  color: #fff;
}
.buttonBox {
  width: 100%;
  display: flex;
  margin: 20px 0 15px 0;
  justify-content: center;
}
.button {
  /* background-color: #f1c40f; */
  background-color: transparent;
  color: #fff;
  border: 3px solid #fff;
  height: 50px;
  width: 120px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-left: -55px;
}
.button:hover {
  background: #fff;
  transition: 300ms ease-in-out;
  color: #020d18;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
