.paginationContainer {
  height: 100px;
  width: 2000px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.paginationBox {
  font-size: 18px;
  text-decoration: none;
  transition: background 250ms;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  height: 40px;
  min-width: 40px;
  border-radius: 38px;
  border: 3px solid #fff;
  line-height: 38px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 20px 4px 0px 4px;
  padding: 4px;
}
.paginationBox:hover {
  background-color: #000;
}
.active {
  background-color: #000;
  transition: 0.3s;
}

.paginationBoxPrev {
  font-size: 14px;
  text-decoration: none;
  transition: background 250ms;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  height: 40px;
  min-width: 40px;
  border-radius: 38px;
  border: 3px solid #fff;
  line-height: 38px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 4px 16px;
  margin: 20px 18px 0 16px;
}
.paginationDot {
  text-decoration: none;
  transition: background 250ms;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  height: 40px;
  min-width: 40px;
  border-radius: 38px;
  font-size: 32px;
  line-height: 38px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 20px 4px 0px 4px;
  padding: 4px;
}
